* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.289);
    align-items: center;
    background-color: transparent;
    transition: background-color 0.5s ease;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    z-index: 1;
}

header.solid {
    background-color: black;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.15);
}


/* header .logo {
    position: relative;
    font-size: large;
    color: aliceblue;
    text-decoration: none;
} */

header .navigation {
    display: flex;
    justify-content: center;
    color: #ff3c78;
    flex-wrap: wrap;
    margin: 10px 0;
}

header ul {
    color: aliceblue;
    text-decoration: none;
    font-size: 500;
    letter-spacing: 1px;
    list-style-type: none;
    margin: 20px;
    display: inline-block;
}




#a-header {
    position: relative;
    text-decoration: none;
    color: dimgray;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0 8px;
}

#a-header:after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#a-header:hover {
    color: #ffffff;
}

#a-header:hover:after {
    width: 100%;
}
.textlink {
    background-color: #fff;
    min-height: 100vh;
    padding: 50px;
    /* margin: 70px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter {
    background-color: #353b48;
    box-shadow: 30px 30px 0px rgb(252 103 103);
    color: #fff;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    /* max-width: 80%; */
    margin: 20px 20px;
    

}
.letter:hover {
    background-color: #353b48be;
    box-shadow: 20px 20px 0px rgb(252 103 103);
}
.pp {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
}

@media(max-width: 991px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    header .li-header {
        /* padding: 4px; */
        margin-top: 10px;
    }
    .letter{
        margin-top: 100px;
        width: 100%;
    }
}